flows.json
[{"id":"762cc609.7f13a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d5f1cec0.88334","type":"http in","z":"762cc609.7f13a8","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["60ba8a0.344ab78"]]},{"id":"c5b5cc26.e5122","type":"rpi-gpio in","z":"762cc609.7f13a8","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":150,"y":260,"wires":[["5fe260fc.dd3a2"]]},{"id":"5fe260fc.dd3a2","type":"function","z":"762cc609.7f13a8","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["4bce763f.7166c8"]]},{"id":"60ba8a0.344ab78","type":"function","z":"762cc609.7f13a8","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["e026c5a4.5aecc8","4bce763f.7166c8"]]},{"id":"e026c5a4.5aecc8","type":"http response","z":"762cc609.7f13a8","name":"","statusCode":"","headers":{},"x":470,"y":160,"wires":[]},{"id":"4bce763f.7166c8","type":"debug","z":"762cc609.7f13a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":300,"wires":[]}]